body {
    background-color: lightsteelblue;
    font-family: 'Roboto', sans-serif;
}

hr {
    border-color: lightgray; 
}

.hidden {
    display: none;
}

.btn-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left-btns {
    display: flex;
    justify-content: center;
    /* display: flex; */
    /* justify-content: right; */
    /* align-self:center; */
    grid-column: 1;
}

.center-btns {
    display: flex;
    justify-content:center;
    grid-column: 2;
}

.right-btns {
    display: flex;
    justify-content: center;
    grid-column: 3;
}

#pNum1 {
    size: 2;
}

.remove-dots {
    list-style: none;
}

/*
.hidden {
    display: none;
}

/* Thanks, John Souza, for the styling hints below:
   https://github.com/jls-github/jokes-app
*/

button {
    background-color: #34568B; /* 2020 Color of the Year */
    color: white;
}

.app-title {
    text-align: center;
}

.quotes-container {
    border: 2px solid black;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 1px;
}

.page-number {
    text-align: center;
    
}