body {background-color: lightsteelblue;}

hr {
    border-color: lightgray; 
}

/* Thanks, John Souza, for the styling hints:
   https://github.com/jls-github/jokes-app
*/

button {
    background-color: #34568B;
    color: white;
}

.app-title {
    text-align: center;
}

.quotes-container {
    border: 2px solid black;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 1px;
}
